<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>edit data</title>
</head>
<body>
  <h1><p style="border-left: 10px solid #688FF4; padding: 0.5em; border-bottom: 2px solid #688FF4; ">edit UserInfo</p></h1>
  <hr/>
  <form method="post">
    <fieldset>
      <legend>Edit UserInfo</legend>
      <table>
        <tr>
          <td><label>Id</label></td>
          <td><input type="text" name="id" value="<%= data.id %>" disabled /></td>
        </tr>
        <tr>
          <td><label>Name</label></td>
          <td><input type="text" name="Name" value="<%= data.Name %>" /></td>
        </tr>
        <tr>
          <td><label>OS</label></td>
          <td><input type="text" name="OS" value="<%= data.OS %>" /></td>
        </tr>
        <tr>
          <td><label>Version</label></td>
          <td><input type="text" name="Version" value="<%= data.Version %>" /></td>
        </tr>
      </table>
      <input type="submit" value="Submit!" />
    </fieldset>
  </form>
</body>
</html>