<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data search</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>OS</th>
            <th>Version</th>
        </tr>
        <% data.forEach(function (item, index) { %>
            <tr>
                <td><strong>
                        <%= item.id %>
                    </strong></td>
                <td><strong>
                        <%= item.Name %>
                    </strong></td>
                <td><strong>
                        <%= item.OS %>
                    </strong></td>
                <td><strong>
                        <%= item.Version %>
                    </strong></td>
            </tr>
            <% }); %>
    </table>
</body>
</body>

</html>